
#body {
    color: #898989

}

#navbarSupportedContent {
    position: relative;
    left: 80%;
    }

#latitude_box {
    position: fixed;
    background-color: #4aaaa5;
    background-size: 50% auto;
    height: 70px;
    width: 120px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background-size: cover;
    line-height: 70px;

}



