/* turquoise: #4aaaa5
light grey: #ededed
dark grey for navbar font color: #898989 */


body {
    background-color: #ededed;
    overflow-x: hidden;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    overflow: hidden;
}

.col-md-12{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom:20px;
    padding-right: 20px;
    padding-left: 35px;
}

#latitude_box {
    width: 135px;
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
    line-height: 40px;
    left: 1%;
}

#navbarSupportedContent {
    position: relative;
    left: 70%;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #676767;
    }  

#test{
    right:50%;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

#summary {
    font-size: 20px;
    padding: 10px;
    
}

#landing_page_pic {
    float: left;
    width:40% ;
    height: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 40px;
    font-weight: bolder;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 35px;
    font-weight: bolder;
}

#fig1, #fig2, #fig3, #fig4{
    width: 100%;
}




button {
    background: transparent;
    /* box-shadow: 0px 0px 0px transparent; */
    border: 0px solid transparent;
    /* text-shadow: 0px 0px 0px transparent; */
  }
  
  button:hover {
    background: transparent;
    /* box-shadow: 0px 0px 0px transparent; */
    border: 2px solid #4aaaa5;
    /* text-shadow: 0px 0px 0px transparent; */
  }
  
  button:active {
    outline: none;
    border: 2px solid #4aaaa5;
  }
  
  button:focus {
    outline: 0;
  }

.vis_fig {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dataframe {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: 90%;
    text-align: center;
}

th {
    font-weight: normal;
}

#th1, #th2, #th3, #th4, #th5, #th6, #th7, #th8, #th9, #th10 {
    font-weight: bold;
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: bolder;
    color: #4aaaa5;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 975px) {

.bg-light {
    background-color: #4aaaa5!important;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    overflow: hidden;
}

#navbarSupportedContent {
    padding:inherit;
    left: 0%;
}

/* .collapse {
    background-color: white;
} */



}


