/* turquoise: #4aaaa5
light grey: #ededed
dark grey for navbar font color: #898989 */


body {
    background-color: #ededed;
    overflow-x: hidden;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    overflow: hidden;
}

.col-md-12{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom:20px;
    padding-right: 20px;
    padding-left: 35px;
}



#latitude_box {
    position:absolute;
    width: 135px;
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
    line-height: 50px;
    left: 1%;
}

#navbarSupportedContent {
    position: relative;
    left: 100%;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #676767;
    }  

#navbarDropdown {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

#summary {
    font-size: 20px;
    padding: 10px;
    
}

#landing_page_pic {
    float: left;
    width:40% ;
    height: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 40px;
    font-weight: bolder;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 35px;
    font-weight: bolder;
}

#fig1 {
    width: 100%;
}

#fig2 {
    width: 100%;
}

#fig3 {
    width: 100%;
}

#fig4 {
    width: 100%;
}



